.header {
    background-color: rgb(0, 140, 255);
    width: 100%;
    color: white;
}

h1{
    text-align: center;
    font-size: 40px;
}

.guide {
    text-align: center;
    color:white;
}

.container {
    padding-top: 12px;
    text-align: center;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.search {
    padding-top: 10px;
    padding-left: 12px;
}

input {
    padding-top: 5px;
    font-size: 18px;
}

.submit {
    background-color: rgb(74, 147, 231);
    color: white;
}

.card p {
    font-size: 18px;
}

.five-day {
    display: inline;
}

li {
    list-style: none;
    display: block;
    font-size: 14px;
}